body,html{
  margin:0;
  height: 100%;
}
button{
  font-family: '微软雅黑';
}
button a{
  color: #606266;
}
input,select,.el-message-box{
  font-family: '微软雅黑';
}
.el-button--danger {
  background-color: #e70012 !important;
  border-color: #cc3300 !important;
}
button--danger:hover {
  background: #cc0000 !important;
  border-color: #cc0000 !important;
}
.el-tabs__item.is-active {
  color: #006699 !important;
}
.el-tabs__item.is-active {
  color: #006699 !important;
}
.el-menu {
  border-right: none !important;
}
.el-tabs__active-bar{
  background-color: #006699 !important;
}
